

.cookieMonster {
  height: 50px;
  width: 50px;
}

.demoThumbnail {
  height: 530px;
  width: 270px;
}

.zapButtonImagesR {

}

.heavyIt {
  width: 25%;
  font-weight: bolder;
  color: white;
  display: inline-block;
  margin: 0% 0% 0% 0%;
  float:left;

  }

.shareButtons {
  width: 103px;
  height: 40px;
  margin-left: 0px;

}

.twitter-share-button {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.eventRadioBtns{
  margin-right: 10px;
}

.newDemoNameInput {
  margin-bottom: 10px;
}

.brand-name {
  margin-top: 6px;
}

.demosLink {
  margin-top: 6px;
  margin-left: 20px;
}

.newDemoModalHeaderClose {
  display: inherit;
  float: right;
  margin-right: 10px;
}

.newDemoModalHeader {
  height: 4em;

}

.modal-tital {
  display:inline;
  margin-left: 10px;
  color: black;
  border-bottom: none;

}

.error-msg-modal-title {
  margin-left: 10px;
  color: red;
  border-bottom: none;

}

.modalContainer {
  margin: 0px 0px 0px 0px;
  height: 45px;
}


.facebookiframe {
  width:500;
  height:380;
  border:none;
  overflow:hidden;
  scrolling:no;
  frameborder:0;
  allowTransparency:true;
  allowFullScreen:true;
}

.error-msg-sign-up {
  color: red;
}

.loginErrorMsg {
  color: red;
}

.logOutImage {
  vertical-align: bottom;
}

.descriptionrow {
  height: 75px;
}

.thumbnailtable {
  margin-bottom: 10px;
}

.contributeButtonOnDetailsPage {
  margin-top: 5%;
}

.clickToDetailsButton {
color: orange;
height: 36px !important;
width: 48%;
box-sizing: border-box;
float: left;
background-image: linear-gradient(to bottom, #481e0e 0%, #384c82 100%);
border-color: #e38d13;
border-top-color: rgb(227, 141, 19);
border-right-color: rgb(227, 141, 19);
border-bottom-color: rgb(227, 141, 19);
border-left-color: rgb(227, 141, 19);
}

.filterButton {
  width: 127px;
  margin: 0, 0, 0, 2%;
}

.contributeButton {
  color: orange;
  box-sizing: border-box;
  height: 36px !important;
  width: 48%;
  margin-left: 2%;
  background-image: linear-gradient(to bottom, #481e0e 0%, #384c82 100%);
}

.detailsButtonImage {
display: inline-block;
margin: 0% 0% 0% 0%;
float:left;
width: 25%;
}

.contributeButtonImage {
width: 25%;
display: inline-block;
margin: 0% 0%% 0% 10%;
float:left;
}

.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-img {
  padding: 50px 20px;
}

.nav-logo {
  float: left !important;
  margin-top: -15px !important;
}

.navbar-right {
  margin-right: 0px !important
}

.log {
  margin: 5px 10px 0 0;
}

.App-header {
  height: 150px;
  padding: 2px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.tile {
  height: 150px;
  width: 150px;
  margin: 10px;
  background: lightyellow;
  float: left;
  font-size: 11px;
  text-align: left;
}

.container{
  max-width: 900px;
  padding-left: 0px;
}

.demotile{
  height: 530px;
  width: 270px;
}

.userFirstName{
  color: orange;
}

.containerForm{
  /*background: #333333;*/
  display: flex;
  /*justify-content: center;*/
  /*align-items: center;*/
  font-family: Helvetica Neue;
}
