.logOutImage {
  vertical-align: bottom;
}

.contributeButtonOnDetailsPage {
  margin-top: 5%;
}

.clickToDetailsButton {
color: orange;
height: 36px !important;
width: 48%;
box-sizing: border-box;
float: left;
background-image: linear-gradient(to bottom, #481e0e 0%, #384c82 100%);
border-color: #e38d13;
border-top-color: rgb(227, 141, 19);
border-right-color: rgb(227, 141, 19);
border-bottom-color: rgb(227, 141, 19);
border-left-color: rgb(227, 141, 19);
}

.contributeButton {
  color: orange;
  box-sizing: border-box;
  height: 36px !important;
  width: 48%;
  margin-left: 2%;
  background-image: linear-gradient(to bottom, #481e0e 0%, #384c82 100%);
}

.detailsButtonImage {
width: 25%;
display: inline-block;
margin: 0% 0% 0% 0%;
float:left;
}

.contributeButtonImage {
width: 25%;
display: inline-block;
margin: 0% 75% 0% 10%;
float:left;
}

.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-img {
  padding: 50px 20px;
}

.nav-logo {
  float: left !important;
  margin-top: -15px !important;
}

.navbar-right {
  margin-right: 0px !important
}
.log {
  margin: 5px 10px 0 0;
}

.App-header {
  height: 150px;
  padding: 2px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.tile {
  height: 150px;
  width: 150px;
  margin: 10px;
  background: lightyellow;
  float: left;
  font-size: 11px;
  text-align: left;
}

.container{
  max-width: 900px;
}

.demotile{
  height: 530px;
  width: 270px;
}
