.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-img {
  padding: 50px 20px;
}

.nav-logo {
  float: left !important;
  margin-top: -15px !important;
}

.navbar-right {
  margin-right: 0px !important
}
.log {
  margin: 5px 10px 0 0;
}

.App-header {
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.tile {
  height: 150px;
  width: 150px;
  margin: 10px;
  background: lightyellow;
  float: left;
  font-size: 11px;
  text-align: left;
}

.container{
  max-width: 900px; 
}
